body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 10px;
}

div.button {
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 30px;
}

div.bolacha-biscoito {
  display: flex;
  justify-content: space-between;
}