body{
    font-size: 16px;
}

h1{
    color: orangered;
    font-size: 65px;
    font-family: sans-serif;
    font-style: italic;
}

p{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}

ul{
    background-color: blueviolet;
}

.back-color{
    background-color: greenyellow;
}

#yellow-list{
    background-color: yellow;
    text-align: center
}

#red-list{
    background-color: red;
    text-align: right;
}

#brown-list{
    background-color: brown;
}