#header{
    border: ridge 5px;
    background-color: rgb(30, 150, 150);
    color: rgb(230, 230, 100);
}
#header h1{
    margin-left: 37px;
}

#nav{
    border: ridge 5px;
    background-color: lightgray;
}

.nav-links li{
    display: inline-block;
    margin-right: 20px;
}

.section-1 img{
    float: left;
    margin-right: 10px;
    border: solid gray;
}
.section-1{
    border: groove;
    width: 70%;
}

.color-content{
    margin: 5px;
    text-align: justify;
    width: 55%;
}

.section-2{
    border: groove;
    clear: both;
    width: 70%;
}

.section-2 img{
    float: right;
    margin-right: 300px;
    border: solid gray;
    margin-bottom: 30px;
}

.sea-content{
    margin: 5px;
    border: 0;
    padding: 0;
    text-align: justify;
    width: 28%;
    margin-bottom: 15px;
}

#aside{
    
}