#header{
    border: ridge 5px;
    background-color: rgb(30, 150, 150);
    color: rgb(230, 230, 100);
}
#header h1{
    margin-left: 37px;
}

#nav{
    border: ridge 5px;
    background-color: lightgray;
}

.nav-links li{
    display: inline-block;
    margin-right: 20px;
}